<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Demo</title>
</head>
<body>
    <span th:text="${welcome_message}"></span>
    <h3>Exam Result</h3>
    <div th:if="${grade} >= 40">
        <p>Congratulation! You have passed the Exam.</p>
        <div th:switch="${GPA}">
            <p>Your performance was:</p>
            <span th:case="S">Excellent</span>
            <span th:case="A">Very Good</span>
            <span th:case="B">Good</span>
            <span th:case="C">Okay</span>
            <span th:case="D">Need improvement</span>
        </div>
    </div>
    <div th:if="${grade} < 40">
        <p>You failed the exam.</p>
    </div>
</body>
</html>